<!-- TABLES PAGE

TWO BUTTONS

1 -> LINKS TO HOME

1 -> LINKS TO VIEW RESERVATION

MAKE AN API CALL TO GET TABLES AND WAITLIST

DISPLAY TABLES IN A SECTION

DISPLAY WAIT LIST IN A SECTION -->
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>View Table</title>
    </head>

    <body>


        <main class="container">
            <div class="jumbotron">
                <h1 class="text-center"><span class="fa fa-fire"></span>Hot Restaurant</h1>
                <hr class="my-4">

                <div class="text-center">
                    <h2>Current Reservation and waiting list
                    </h2>

                    <a href="/tables"><button class="btn btn-lg btn-danger"> <span class="fa fa-credit-card"></span>
                            Make Reservation</button></a>
                    <a href="/"><button class="btn btn-lg btn-primary"><span class="fa fa-home"></span>
                            Home</button></a>
                </div>
            </div>
        </main>
        <section class="container">
            <div class="card">
                <div class="card-header">
                    Current Reservation
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Wailting List
                </div>
            </div>
        </section>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>

    </body>

</html>